@import "reveal.js/dist/reveal.css";

.reveal {
  .fragment {
    &.mark,
    &.mark-current {
      background-image: linear-gradient(
        var(--r-selection-background-color),
        var(--r-selection-background-color)
      );
      background-size: 0% 100%;
      background-position-y: 100%;
      background-position-x: 100%;
      background-repeat: no-repeat;
      transition-property: background-size, color;
      color: var(--r-main-color);
    }

    &.mark.visible,
    &.mark-current.current-fragment {
      background-size: 100% 100%;
      background-position-x: 0%;
      color: var(--r-selection-color);
    }
  }

  section {
    user-select: none;

    &:hover {
      user-select: text;
    }
  }

  .slide-number {
    user-select: none;
  }

  .slide-background-content {
    filter: blur(8px);
  }
}
