---
import Slides from "@layouts/Slides.astro";
import ToC from "@components/ToC.astro";
import Source from "@components/Source.astro";

function formatDate(date: Date) {
  return date.toLocaleDateString("de-DE", { dateStyle: "long" });
}
---

<Slides title="Gesetzgebung">
  <section>
    <section data-toc-ignore>
      <p>Wie entsteht ein Gesetz?</p>
      <h1>Der Gesetzgebungs&shy;prozess</h1>
      <small>
        <author>Frederick</author>
        •
        <time>
          {formatDate(new Date())}
        </time>
      </small>
    </section>
    <section data-toc-ignore>
      <h2>Gliederung</h2>
      <ToC />
    </section>
  </section>

  <section>
    <section>
      <h2>Einstieg</h2>
    </section>
    <section>
      <h3>Festlegung</h3>
      <ul>
        <li>Artikel 70 - 82 im Grundgesetz</li>
      </ul>
    </section>
  </section>
  <section>
    <section>
      <h2>Phasen der Gesetzgebung</h2>
    </section>
    <section>
      <h3>Initiierung</h3>
      <ul>
        <li>Durch Bundesregierung, Bundestag oder Bundesrat</li>
        <li>
          Wer kann Gesetze vorschlagen? (z. B. Bundestagsabgeordnete,
          Bundesregierung, Bundesrat) Entwicklung und Formulierung von
          Gesetzentwürfen
        </li>
      </ul>
    </section>
    <section>
      <h3>Debatte und Beratung</h3>
      <ul>
        <li>
          Rolle des Deutschen Bundestags Beteiligung von Experten und
          Interessengruppen Ausschussarbeit und Anhörungen
        </li>
      </ul>
    </section>
    <section>
      <h3>Abstimmung</h3>
      <ul>
        <li>
          Verfahren der Abstimmung im Bundestag Erforderliche Mehrheiten für die
          Annahme eines Gesetzentwurfs Mögliche Änderungsanträge und ihre
          Behandlung
        </li>
      </ul>
    </section>
    <section>
      <h3>Zustimmung des Bundesrates</h3>
      <ul>
        <li>
          Wann ist die Zustimmung des Bundesrates erforderlich? Rolle des
          Bundesrates bei der Gesetzgebung
        </li>
      </ul>
    </section>
    <section>
      <h3>Unterschriften und Veröffentlichung</h3>
      <ul>
        <li>
          Unterschriftsverfahren (Bundeskanzler, zuständiger Minister,
          Bundespräsident) Veröffentlichung des neuen Gesetzes
        </li>
      </ul>
    </section>
    <section><h3>Inkrafttreten</h3></section>
  </section>
  <section>
    <h2>Fazit</h2>
  </section>
  <section>
    <section data-toc-ignore>
      <h2>Danke für eure Aufmerksamkeit!</h2>
    </section>
    <section data-toc-ignore>
      <h2>Quellen</h2>
      <ul style="list-style: none;">
        <li>
          <Source
            url="https://bpb.de/system/files/dokument_pdf/Grundgesetz_DE_Standard_WEB.PDF"
            >deutsches Grundgesetz</Source
          >
        </li>
        <li>
          <Source
            url="https://bpb.de/kurz-knapp/lexika/politiklexikon/17561/gesetzgebungsprozess"
          />
        </li>
        <li>
          <Source
            url="https://bpb.de/themen/politisches-system/deutsche-demokratie/39351/ein-gesetz-entsteht"
          />
        </li>
        <li>
          <Source
            url="https://bundestag.de/parlament/aufgaben/gesetzgebung_neu/gesetzgebung"
          />
        </li>
        <li>
          <Source
            url="https://bmj.de/DE/rechtsstaat_kompakt/entstehung_gesetz/gesetzgebung/gesetzgebung_artikel"
          />
        </li>
        <li>
          <Source
            url="https://de.wikipedia.org/wiki/Gesetzgebungsverfahren_(Deutschland)"
          />
        </li>
      </ul>
      <small>
        Stand
        <time>
          {formatDate(new Date("15 Jun 2024"))}
        </time>
      </small>
    </section>
  </section>
</Slides>
