---
import Slides from "@layouts/Slides.astro";
import ToC from "@components/ToC.astro";
import Source from "@components/Source.astro";

function formatDate(date: Date) {
  return date.toLocaleDateString("de-DE", { dateStyle: "long" });
}
---

<Slides title="Gesetzgebung">
  <section data-toc-ignore>
    <section
      data-background-image="https://www.zdf.de/assets/co2-abgabe-anstieg-januar-tn-100~768x432"
    >
      <aside class="notes">
        <li>Rezepte direkt auf der Krankenkassenkarte</li>
        <li>Handyverträge innerhalb eines Monats kündigen</li>
        <li>Höheren Mindestlohn</li>
        <br />
        <li>Gesetze Anfang diesen Jahres</li>
      </aside>
    </section>
    <section
      data-background-image="https://www.zdf.de/assets/23-dpa99-u30-08-halbzeit-klausur-des-bundeskabinetts---digitalisierung-100~768x432"
    >
    </section>
    <section
      data-background-image="https://cdn.takeflyte.com/uploads/2019/04/23080120/Smartphones_Panoramic.jpg"
    >
    </section>
    <section
      data-background-image="https://www.anwalt.org/wp-content/uploads/deutsche-gesetze.jpg"
    >
    </section>
  </section>
  <section data-toc-ignore>
    <p>Wie entsteht ein Gesetz?</p>
    <h1>Der Gesetzgebungs&shy;prozess</h1>
    <footer>
      <author>Frederick</author>
      •
      <time>
        {formatDate(new Date())}
      </time>
    </footer>
  </section>
  <section data-toc-ignore>
    <h2>Gliederung</h2>
    <ToC />
  </section>

  <section>
    <section>
      <h2>Allgemeines</h2>
    </section>
    <section>
      <h3>Festlegung</h3>
      <ul>
        <li>Artikel 70 - 82 im Grundgesetz</li>
      </ul>
    </section>
  </section>
  <section>
    <section>
      <h2>Phasen der Gesetzgebung</h2>
    </section>
    <section>
      <h3>Initiierung</h3>
      <ul>
        <li>Durch Bundesregierung, Bundestag oder Bundesrat</li>
        <li>
          Wer kann Gesetze vorschlagen? (z. B. Bundestagsabgeordnete,
          Bundesregierung, Bundesrat)
        </li>
        <li>Entwicklung und Formulierung von Gesetzentwürfen</li>
      </ul>
    </section>
    <section>
      <h3>Debatte und Beratung</h3>
      <ul>
        <li>
          Rolle des Deutschen Bundestags Beteiligung von Experten und
          Interessengruppen
        </li>
        <li>Ausschussarbeit und Anhörungen</li>
      </ul>
    </section>
    <section>
      <h3>Abstimmung</h3>
      <ul>
        <li>Verfahren der Abstimmung im Bundestag</li>
        <li>Erforderliche Mehrheiten für die Annahme eines Gesetzentwurfs</li>
        <li>Mögliche Änderungsanträge und ihre Behandlung</li>
      </ul>
    </section>
    <section>
      <h3>Zustimmung des Bundesrates</h3>
      <ul>
        <li>Wann ist die Zustimmung des Bundesrates erforderlich?</li>
        <li>Rolle des Bundesrates bei der Gesetzgebung</li>
      </ul>
    </section>
    <section>
      <h3>Unterschriften und Veröffentlichung</h3>
      <ul>
        <li>
          Unterschriftsverfahren (Bundeskanzler, zuständiger Minister,
          Bundespräsident)
        </li>
        <li>Veröffentlichung des neuen Gesetzes</li>
      </ul>
    </section>
    <section>
      <h3>Inkrafttreten</h3>
      <ul>
        <li>Bestimmung des Zeitpunkts des Inkrafttretens</li>
        <li>Mögliche Übergangsfristen oder Umsetzungsschritte</li>
      </ul>
    </section>
  </section>
  <section>
    <h2>Fazit</h2>
  </section>
  <section data-toc-ignore>
    <h2>Danke für eure Aufmerksamkeit!</h2>
  </section>
  <section>
    <section data-toc-ignore>
      <h2>Quellen</h2>
      <footer>
        Stand
        <time>
          {formatDate(new Date("15 Jun 2024"))}
        </time>
      </footer>
    </section>
    <section>
      <h3>Einstieg</h3>
      <ul>
        <li>
          <Source
            url="https://zdf.de/nachrichten/ratgeber/aenderungen-2024-neue-gesetze-100.html"
          />
        </li>
        <li>
          <Source
            url="https://bundestag.de/dokumente/textarchiv/jahresstatistik-2023-996750"
          />
        </li>
      </ul>
    </section>
    <section>
      <h3>Gesetzgebungsverfahren</h3>
      <ul style="list-style: none;">
        <li>
          <Source
            url="https://bpb.de/system/files/dokument_pdf/Grundgesetz_DE_Standard_WEB.PDF"
          >
            deutsches Grundgesetz
          </Source>
        </li>
        <li>
          <Source
            url="https://bpb.de/kurz-knapp/lexika/politiklexikon/17561/gesetzgebungsprozess"
          />
        </li>
        <li>
          <Source
            url="https://bpb.de/themen/politisches-system/deutsche-demokratie/39351/ein-gesetz-entsteht"
          />
        </li>
        <li>
          <Source
            url="https://bundestag.de/parlament/aufgaben/gesetzgebung_neu/gesetzgebung"
          />
        </li>
        <li>
          <Source
            url="https://bmj.de/DE/rechtsstaat_kompakt/entstehung_gesetz/gesetzgebung/gesetzgebung_artikel"
          />
        </li>
        <li>
          <Source
            url="https://de.wikipedia.org/wiki/Gesetzgebungsverfahren_(Deutschland)"
          />
        </li>
      </ul>
    </section>
  </section>
</Slides>
