---
import Slides from "@layouts/Slides.astro";
import TOC from "@components/TOC.astro";
import Source from "@components/Source.astro";
---

<Slides title="Gesetzgebung">
  <section>
    <section data-toc-ignore>
      <p>Wie entsteht ein Gesetz?</p>
      <h1>Der Gesetzgebungs&shy;prozess</h1>
      <small>
        <author>Frederick</author>
        •
        <time>
          {new Date().toLocaleDateString("de-DE", { dateStyle: "long" })}
        </time>
      </small>
    </section>
    <section data-toc-ignore>
      <h2>Gliederung</h2>
      <TOC />
    </section>
  </section>

  <section>
    <section>
      <h2>Einstieg</h2>
    </section>
    <section>
      <h3>Im Grundgesetz</h3>
      <cite class="legal">
        <ol>
          <li>
            Die Länder haben das
            <span class="fragment custom mark">Recht der Gesetzgebung</span>,
            soweit dieses Grundgesetz nicht dem Bunde Gesetzgebungsbefugnisse
            verleiht.
          </li><li>
            Die <span class="fragment custom mark">
              Abgrenzung der Zuständigkeit
            </span>
            zwischen Bund und Ländern bemißt sich nach den Vorschriften dieses Grundgesetzes
            über die ausschließliche und die konkurrierende Gesetzgebung.
          </li>
        </ol>
        <figcaption>Art.70 im Grundgesetz</figcaption>
      </cite>
    </section>
  </section>
  <section>
    <section>
      <h2>Phasen der Gesetzgebung</h2>
    </section>
    <section>
      <h3>Initiierung</h3>
    </section>
  </section>
  <section>
    <h2>Fazit</h2>
  </section>
  <section>
    <section data-toc-ignore>
      <h2>Danke für eure Aufmerksamkeit!</h2>
    </section>
    <section data-toc-ignore>
      <h2>Quellen</h2>
      <ul style="list-style: none;">
        <li>
          <Source
            url="https://bundestag.de/parlament/aufgaben/gesetzgebung_neu/gesetzgebung"
          />
        </li>
        <li>
          <Source
            url="https://bpb.de/kurz-knapp/lexika/politiklexikon/17561/gesetzgebungsprozess"
          />
        </li>
        <li>
          <Source
            url="https://bpb.de/themen/politisches-system/deutsche-demokratie/39351/ein-gesetz-entsteht"
          />
        </li>
        <li>
          <Source
            url="https://bmj.de/DE/rechtsstaat_kompakt/entstehung_gesetz/gesetzgebung/gesetzgebung_artikel"
          />
        </li>
      </ul>
      <small
        >Jeweils zuletzt geprüft am <time
          >{
            new Date("15 Jun 2024").toLocaleDateString("de-DE", {
              dateStyle: "long",
            })
          }</time
        ></small
      >
    </section>
  </section>
</Slides>
