---
import Slides from "@layouts/Slides.astro";
import TOC from "@components/TOC.astro";
---

<Slides title="Gesetzgebung">
  <section data-toc-ignore>
    <section>
      <p>Wie entsteht ein Gesetz?</p>
      <h1>Der Gesetzgebungs&shy;prozess</h1>
      <small>
        <author>Frederick</author>
        •
        <time>
          {new Date().toLocaleDateString("de-DE", { dateStyle: "long" })}
        </time>
      </small>
    </section>
    <section>
      <h2>Gliederung</h2>
      <TOC />
    </section>
  </section>

  <section>
    <section>
      <h2>Einstieg</h2>
    </section>
    <section>
      <h2>Im Grundgesetz</h2>
      <cite class="legal">
        <ol>
          <li>
            Die Länder haben das
            <span class="fragment custom mark">Recht der Gesetzgebung</span>,
            soweit dieses Grundgesetz nicht dem Bunde Gesetzgebungsbefugnisse
            verleiht.
          </li><li>
            Die <span class="fragment custom mark"
              >Abgrenzung der Zuständigkeit</span
            > zwischen Bund und Ländern bemißt sich nach den Vorschriften dieses
            Grundgesetzes über die ausschließliche und die konkurrierende Gesetzgebung.
          </li>
        </ol>
        <figcaption>Art.70 im Grundgesetz</figcaption>
      </cite>
    </section>
  </section>
  <section>
    <section>
      <h2>Phasen der Gesetzgebung</h2>
    </section>
    <section>
      <h3>Initiierung</h3>
    </section>
  </section>
  <section>
    <h2>Fazit</h2>
  </section>
  <section data-toc-ignore>
    <section>
      <h2>Danke für eure Aufmerksamkeit!</h2>
    </section>
    <section>
      <h2>Quellen</h2>
      <ul>
        <li>
          <a
            href="https://bundestag.de/parlament/aufgaben/gesetzgebung_neu/gesetzgebung"
          >
            bundestag.de/parlament/aufgaben/gesetzgebung_neu/gesetzgebung
          </a>
        </li>
      </ul>
    </section>
  </section>
</Slides>
