---
import Slides from "@layouts/Slides.astro";
---

<Slides title="Index">
  <section>
    <section>
      <h2>Index</h2>
      <ul>
        <li><a href="./gesetzgebung">Der Gesetzgebungsprozess</a></li>
      </ul>
    </section>
  </section>
</Slides>
