---
import Slides from "@layouts/Slides.astro";
import Source from "@components/Source.astro";
---

<Slides title="Index">
  <section>
    <h2>Index</h2>
    <ul>
      <li><a href="./gesetzgebung">Der Gesetzgebungsprozess</a></li>
    </ul>
  </section>
  <section>
    <h2>Quellcode</h2>
    <Source url="https://github.com/fr-bl/slides" />
  </section>
</Slides>
