@import "../template/mixins";
@import "../template/settings";

$backgroundColor: #f7f3de;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: $mainColor;
$linkColorHover: $linkColor;
$selectionColor: $mainColor;
$selectionBackgroundColor: yellow;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

@include dark-bg-text-color(#fff);

@import "../template/theme";
